div(class="content")
	h1
		a(href="https://github.com/rolandjitsu/drawerjs") Drawer
	blockquote
		p
			| A simple off canvas navigation built with JavaScript &amp; CSS3. It's library agnostic, provides support for jQuery and AMD (RequireJS) and it's simple to set up and use.
	p Use Touch Device / Enable Touch (Chrome):
	ul
		li Open Chrome Developer Tools
		li
			| Click on the Settings cog&nbsp;
			i(class="icon-cog")
			| &nbsp;and open up the Overrides panel
		li Scroll down and check "Enable touch events"
		li Refresh Page
	p
		| To have a brief idea about what this library does, I'll describe it to you in a few words.
		| If you have an iOS device and Google Maps / Facebook as native applications on your mobile device you have definitely used the left side sliding navigation.
		| The one that you drag to reveal it's contents.
		| Well, this library does pretty much the same thing, it turns the layout
		| (it's required to have a certain structure for it to work, but it's described bellow)
		| of your page into a sliding content.

	p
		| It could also be used a simple click to toggle navigation too,
		| as the library provides two API methods (see
		a(href="./documentation/api") &nbsp;API&nbsp;
		| section) that you can use to toggle the menu manually in case you want the dragging disabled or if isn't working on some device.
	
	p
		| This library provides support for the non touch enabled devices too.
		| By that I mean that the new Windows Phones with Windows Metro OS will not support touch, they have merged all input events (touch, pen and mouse) into just one,
		| the Pointer, therefore support for these events has been added.