h1 Drawer
h2(class="blockquote")
	| A simple off canvas navigation built with JavaScript &amp; CSS3. It's library agnostic, provides support for jQuery and AMD (RequireJS) and it's simple to set up and use.
	i(class="icon-smile")
p Enable Touch (Chrome)
ul(class="enable-touch-instructions")
	li Open Chrome Developer Tools
	li
		| Click on the Settings cog 
		i(class="icon-cog")
		| and open up the Overrides panel
	li Scroll down and check "Enable touch events"
	li Refresh Page
a(class="github" href="https://github.com/rolandjitsu/drawerjs")
	i(class="icon-github-alt")
	| Github