p
	| Currently this library is using:

ul
	li
		a(href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Flexible_boxes") &nbsp;Flexbox&nbsp;
		| for styling some of the elements (it is not supported by old browsers, check
		a(href="http://caniuse.com/flexbox") &nbsp;Caniuse&nbsp;
		| for more information about which browsers do support it) with fallback to display: block;
	li
		a(href="http://caniuse.com/transforms2d") &nbsp;2D&nbsp;
		| or
		a(href="http://caniuse.com/transforms3d") &nbsp;3D&nbsp;
	li	
		a(href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_CSS_transforms") &nbsp;transforms&nbsp;
		| to translate the content when it's dragged;
		a(href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_CSS_transitions") &nbsp;transitions&nbsp;
		| (see
		a(href="http://caniuse.com/css-transitions") &nbsp;support&nbsp;
		| ) or
		a(href="https://developer.mozilla.org/en-US/docs/Web/API/window.requestAnimationFrame") &nbsp;RequestAnimationFrame&nbsp;
		| (see
		a(href="http://caniuse.com/requestanimationframe") &nbsp;support&nbsp;
		| ) or a fallback polyfill in case none of the mentioned are supported to animate the content on open / close / pulled back;

p
	| The library is also making use of some javascript native methods which are not supported in all browsers.