p
	| This library is currently supported by the following browsers:

ul
	li
		i.icon-chrome
		em &nbsp;4.0 +
	li
		i.icon-firefox
		em &nbsp;3.5 +
	li
		i.icon-safari
		em &nbsp;3.1 +
	li
		i.icon-opera
		em &nbsp;10.5 +
	li
		i.icon-ie
		em &nbsp;9.0 +
	li
		| iOS&nbsp;
		i.icon-safari
		em &nbsp;3.2 +
	li
		| Android Browser
		em &nbsp;2.1 +
	li
		| Blackberry Browser
		em &nbsp;7.0 +
	li
		i.icon-opera
		| &nbsp;Mobile
		em &nbsp;10.0 +
	li
		i.icon-chrome
		| &nbsp;Android
		em &nbsp;28.0 +
	li
		i.icon-firefox
		| &nbsp;Android
		em &nbsp;22.0 +
	li
		i.icon-ie
		| &nbsp;Mobile
		em &nbsp;10.0 +