p
	| The library can be installed with
	a(href="http://bower.io/") &nbsp;Bower&nbsp;
	| or you can use
	a(href="http://gruntjs.com/") &nbsp;Grunt&nbsp;
	| together with
	a(href="https://github.com/yatskevich/grunt-bower-task") &nbsp;grunt-bower-task&nbsp;
	| to install it in a more convenient way if you're already using Grunt for other tasks.

code-highlight
	code
		| // Install with Bower only
		| bower install drawerjs
		br
		| 
		| // Install with Grunt &amp; grunt-bower-task
		| grunt.config.init({
		|     bower: {
		|         install: {}
		|     }
		| });