p
	| Otherwise, if you are not using
	a(href="http://bower.io/") &nbsp;Bower&nbsp;
	| or any other package manager, you can just download the
	a(href="https://github.com/rolandjitsu/drawerjs/archive/master.zip") &nbsp;zip&nbsp;
	| from Git. Or you could just grab the scripts from the
	a(href="https://github.com/rolandjitsu/drawerjs/tree/master/dist") &nbsp;dist&nbsp;
	| folder:

code-highlight
	code
		| +---dist
		| |   |   drawer.min.js
		| |   |   jquery.drawer.min.js