p
	| Mobile development usually requires more testing than developing for the browser, and the amount of devices using diferent OS and diferent patches of the OS doesn't make it any easier.
	| If you find any bugs or something is not behaving properly, please report it
	a(href="https://github.com/rolandjitsu/drawerjs/issues/") &nbsp;here
	| .