p
	| This plugin is still a work in progress, I'm trying to make the code cleaner, organize it and increase performance by using the most performance optimized methods
	| (I'm doing some benchmark tests of the most efecient ways to perform certain functions, like looping objects / arrays, animating elements, etc).
	| I'm working on a better browser support and I plan on adding support for scrolling inside the menu and the content without affecting one another.

p
	| If you need some other options or some feature that you think the other users using it might think it's useful, please submit a feature request
	a(href="https://github.com/rolandjitsu/drawerjs/issues/new") &nbsp;here&nbsp;
	|  and label it as
	em &nbsp;enhancement
	| .