extends layout

block container
	nav(id="drawer-navigation", class="drawer-navigation")
		ul
			li
				a
					i(class="icon-dashboard") Dashboard
	section(id="drawer-content", class="drawer-content")
		header(id="header", class="header")
			span(id="open-navigation-trigger", class="button")
			h1 Drawer

		article(class="content", data-ng-view)