p
	| There is also support for AMD, you can use RequireJS to load your module async,
	| just do not forget to add it to the&nbsp;
	code paths
	| &nbsp;object in case you use bower to install it and it is not located under the&nbsp;
	code baseUrl
	| :

code-highlight
	code
		| requirejs.config({
		|     paths: {
		|         "drawer": "components/drawer.js"
		|     }
		| });