p
	| Along with the options, the class exports two API methods:

dl.dl-horizontal
	dt
		| open
	dd
		em Function
		br
		| Use this method to reveal the navigation (slide the content out) after you have instantiated the class:
		br
		br
		code-highlight
			code
				| var drawer = new Drawer(document.body);
				| drawer.open();
	dt
		| close
	dd
		em Function
		br
		| The same as the open method, you can use this one after the class is instantiated and it can hide the navigation (slide the content back in):
		br
		br
		code-highlight
			code
				| var drawer = new Drawer(document.body);
				| drawer.close();