p
	| Drawer provides a jQuery plugin if you prefer to use it the jQuery way, though you will need to include&nbsp;
	code jquery.drawer.js
	| &nbsp;instead of the&nbsp;
	code drawer.js
	| &nbsp;file:

code-highlight
	code
		| $("body").drawer();

p
	| The options can still be used the same way as using it without jQuery:
	
code-highlight
	code
		| $("body").drawer({
		|     speed: 450,
		|     offset: 80,
		|     onOpen: function () {}
		| });

p
	| Calling the API methods would be the same as initiating the plugin, but instead of using dot notation on the returned object you will pass a string with the API method:

code-highlight
	code
		| $("body").drawer("open");

p
	| The options can also be overwritten after you load the library and the jQuery plugin as such:

code-highlight
	code
		| $.fn.drawer.defaults = {
		|     speed: 350
		| };