p
	| I have made a few options available that can be used for various things, such as changing the default content and navigation ids,
	| or having a callback function on close / open, read the following description to find out what options are available:

dl.dl-horizontal
	dt
		| content
	dd
		em String / DOM Object
		| &nbsp;(Default:&nbsp;
		code #drawer-content
		| )
		br
		| With this option you specify the id of the content. If you pass an id, the class will be able to query the DOM and retrieve the node for usage,
		| otherwise (in case you have some class names instead or you prefer data attributes)
		| you will have to query it and send the node object yourself as the value of this option:
		br
		br
		code-highlight
			code
				| var drawer = new Drawer(document.body, {
				|     content: document.getElementsByClassName("content")
				| });
	dt
		| offset
	dd
		em Integer
		| &nbsp;(Default:&nbsp;
		code 120
		| )
		br
		| This options will set the amount of pixels of content visible when the navigation is revealed;
	dt
		| navigation
	dd
		em String / DOM Object
		| &nbsp;(Default:&nbsp;
		code #drawerjs-navigation
		| )
		br
		| With this option you specify the id o the navigation. The behavior is the same as the&nbsp;
		em content
		| &nbsp;option has:
		br
		br
		code-highlight
			code
				| var drawer = new Drawer(document.body, {
				|     navigation: document.getElementsByClassName("navigation")
				| });
	dt
		| speed
	dd
		em Integer
		| &nbsp;(Default:&nbsp;
		code 250
		| )
		br
		| This options sets the speed of the animation when the navigation is closed or opened;
	dt
		| onOpen
	dd
		em Function
		br
		| It's a function that it's triggerd each time the navigation is revealed in the exact moment the animation starts,
		| but it is not triggered if the content slides back in:
		br
		br
		code-highlight
			code
				| var drawer = new Drawer(document.body, {
				|     onOpen: function () {}
				| });
	dt
		| onOpened
	dd
		em Function
		br
		| It's a function that it's triggerd each time the navigation is revealed and when the animation has ended:
		br
		br
		code-highlight
			code
				| var drawer = new Drawer(document.body, {
				|     onOpened: function () {}
				| });
	dt
		| onClose
	dd
		em Function
		br
		| The same as the&nbsp;
		em onOpen
		| &nbsp;option, but with opposite behavior:
		br
		br
		code-highlight
			code
				| var drawer = new Drawer(document.body, {
				|     onClose: function () {}
				| });
	dt
		| onClosed
	dd
		em Function
		br
		| It's a function that it's triggerd each time the navigation is hidden and when the animation has ended:
		br
		br
		code-highlight
			code
				| var drawer = new Drawer(document.body, {
				|     onClosed: function () {}
				| });
	dt
		| transitioned
	dd
		em Function
		br
		| This options allows you to execute various tasks whenever the content is transitioned, no matter if it's closed / opened / pulled back:
		br
		br
		code-highlight
			code
				| var drawer = new Drawer(document.body, {
				|     transitioned: function () {}
				| });