/**
 * Header
 */

.content-header
	height: 50px;
	background: #557799;
	border-bottom: 1px solid rgba(000, 000, 000, 0.25);
	
	h1
	.drawer-navigation-button
	.drawer-navigation-button:after
	.github-button
		display: inline-block;
		color: #FFFFFF;
		line-height: 50px;
		font-size: 28px;

	h1
		vertical-align: top;
		padding-left: 10px;
		margin: 0;

	.drawer-navigation-button
		position: relative;
		width: 50px;
		height: 50px;
		text-align: center;
		border-right: 1px solid rgba(000, 000, 000, 0.25);
		text-shadow: 1px 1px 2px rgba(000, 000, 000, 0.25);

		&:after
			position: absolute;
			content: "";
			height: 50px;
			width: 0px;
			right: -2px;
			border-right: 1px solid rgba(255, 255, 255, 0.15);

	.github-button
		vertical-align: top;
		padding-right: 10px;
		margin: 0;