*
*:before
*:after
	box-sizing(border-box)

html
	font-size: 62.5%
	-webkit-tap-highlight-color: color-transparent

img
	vertical-align: middle

body
	font-family: base-font-family
	font-size: base-font-size
	line-height: base-line-height
	color: base-text-color
	background-color: base-background-color

textarea
input
button
select
	font-family: inherit
	font-size: inherit
	line-height: inherit

a
	color: color-link
	text-decoration: none

	&:hover
	&:focus
		color: color-link
		text-decoration: none

html
body
	height: 100%