/**
 * Variables
 */

color-gray = lighten(#000000, 33.5%);
color-gray-dark = lighten(#000000, 20%);
color-gray-darker = lighten(#000000, 13.5%);
color-gray-light = lighten(#000000, 60%);
color-gray-lighter = lighten(#000000, 93.5%);
color-transparent = rgba(000, 000, 000, 0);
color-link = #428BCA;
color-blockquote-border = #D0D0D0;
color-headings = inherit;
color-pre = color-gray-dark;
color-code = #C7254E;
color-pre-border = #CCCCCC;
color-pre-background = #F5F5F5;
color-code-background = #F9F2F4;

font-family-sans-serif = "Helvetica Neue", Helvetica, Arial, sans-serif;
font-family-serif = Georgia, "Times New Roman", Times, serif;
font-family-monospace = Monaco, Menlo, Consolas, "Courier New", monospace;
font-family-base = font-family-sans-serif;

base-font-family = font-family-base;
base-font-size = 14px;
base-text-color = #6A7180;
base-background-color = #32394A;
base-border-radius = 4px;

base-line-height = 20 / 14;
computed-line-height = floor(base-font-size * base-line-height);

headings-font-family = base-font-family;
headings-font-weight = 500;
headings-line-height = 1.1;

font-size-h1 = floor(base-font-size * 2.60);
font-size-h2 = floor(base-font-size * 2.15);
font-size-h3 = ceil(base-font-size * 1.70);
font-size-h4 = ceil(base-font-size * 1.25);
font-size-h5 = base-font-size;
font-size-h6 = ceil(base-font-size * 0.85);

glyphs-url = "../fonts/";

component-offset-horizontal = 180px;